@import 'modern-normalize';
@import './breakpoints.css';
@import './colors.css';

html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bluebirth-950);
  min-height: 100%;
  line-height: 1.5;
  font-family: system-ui;
}

.logo {
  width: 80px;
  height: auto;
}
