/* @import url(./inter.css); */
@import url(./montserrat.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
  /* bg-white text-daniel-500 dark: bg-daniel-950 dark:text-white bg-gradient-to-b */
}

.logo {
  width: 80px;
  height: auto;
}

@layer components {
  body {
    @apply antialiased;
  }

  h1 {
    @apply text-6xl whitespace-nowrap;
  }
}
