<script lang="ts">
  import { onMount } from 'svelte';
  import { sineIn } from 'svelte/easing';
  import { draw } from 'svelte/transition';

  interface Props {
    opacity?: number | undefined;
    visible?: boolean | undefined;
  }

  let { opacity = 1, visible = false }: Props = $props();

  onMount(() => {
    visible = true;
  });
</script>

{#if visible}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 685.214 301.195"
    style={`opacity: ${opacity}`}
  >
    <g fill="none" stroke="#fff" stroke-linecap="round" stroke-width="5">
      <path
        transition:draw={{ duration: 300 }}
        d="M73.809 175.767c-.75-.398-1.791-2.277-2.25-1.193-.487 1.15.823 2.468 1.16 3.764.51 1.955.938 3.969 1.373 5.975 1.306 6.018 2.609 12.047 4.119 17.925 1.73 6.74 3.16 13.695 4.892 20.435 1.223 4.761 2.982 9.08 4.257 13.801.696 2.575 1.122 5.564 2.323 7.528"
      />
      <path
        transition:draw={{ duration: 1500, delay: 500, easing: sineIn }}
        d="M20.639 227.567c-4.64-9.521-9.918-14.235-1.552-28.741 9.316-16.153 15.367-26.848 46.602-48.671 42.105-29.417 80.938-42.444 122.861-52.755 33.506-8.24 68.866-11.42 102.973-4.394 43.304 8.921 49.811 30.914 39.721 63.306-7.738 24.841-41.671 48.882-53.011 54.972-3.988 2.143-7.99 4.264-12.004 6.367-35.483 18.587-80.014 28.823-119.581 38.259-41.416 9.876-98.526 11.771-107.918 10.122-9.115-1.6-21.148.249-27.735-5.409-1.13-.97-1.309-2.958-.48-4.177 1.89-2.779 5.022-4.8 7.937-6.791 4.003-2.734 8.223-5.274 12.721-7.316 7.816-3.551 137.192-62.435 197.899-72.414 12.932-2.126 63.734-11.94 69.982-12.959 3.344-.546 6.678-1.603 10.075-1.432 1.132.057 2.79 1.115 2.452 2.061-1.68 4.706-11.565 9.381-15.153 11.189-4.35 2.191-8.821 4.201-13.34 6.113-14.337 6.062-29.797 9.867-44.927 14.216-12.829 3.688-25.675 7.386-38.755 10.328-5.233 1.177-11.32.568-15.793 4.052-.847.659 1.408 1.673 2.452 2.061 3.735 1.387 7.607 2.652 11.622 3.167 5.722.734 11.562.795 17.338.547 10.445-.448 20.926-1.056 31.226-2.631 17.601-2.693 34.397-8.568 51.19-13.903 12.359-3.925 20.588-8.074 32.399-14.845 8.481-4.863 16.796-9.98 24.682-15.556 2.123-1.501 9.053-7.819 7.631-5.781-6.929 9.932-17.34 19.537-25.41 28.789-7.993 9.164-16.699 18.964-20.497 30.622-.679 2.083-2.673 7.229-.267 9.676 2.091 2.125 11.772-3.299 12.888-4.844 3.086-4.273 6.19-8.537 9.342-12.773 6.039-8.114 12.239-16.136 18.232-24.276 18.827-25.576 36.947-51.687 52.149-79.094 7.602-13.705 13.598-28.167 22.67-41.171 1.421-2.038 2.752-4.446 5.171-5.554 1.347-.617-.777 2.58-1.36 3.807-1.566 3.3-3.32 6.532-5.077 9.758-4.409 8.092-9.057 16.084-13.421 24.194-6.959 12.934-13.418 26.069-20.31 39.029-4.493 8.45-8.615 17.169-10.969 26.256-1.251 4.832-2.309 9.802-2.079 14.752.088 1.879 1.253 3.897 2.999 4.995 3.217 2.024 7.467-1.635 9.076-3.097 9.751-8.856 19.008-18.121 28.76-26.978 14.713-13.362 29.276-27.249 43.367-41.101 5.443-5.351 9.739-11.581 15.513-16.662 4.362-3.838 9.216-7.407 14.7-9.92 3.621-1.66 8.808-4.56 11.981-2.305 3.362 2.389 1.262 7.583.733 11.34-.87 6.174-3.045 12.157-4.891 18.164-6.166 20.056-17.308 39.437-18.392 60.441-.195 3.783-.717 7.773.733 11.341 1.224 3.011 4.036 5.468 6.904 7.452 9.737 6.733 24.351 9.367 35.77 6.962 42.703-8.993 34.288-10.905 80.93-22.114 9.46-2.273 18.011-4.877 27.365-6.886 8.604-1.849 12.981-3.044 22.832-1.681 11.56 1.6 17.005 5.779 19.149 11.666 4.003 10.992-2.813 19.942-12.118 28.633-22.326 20.852-112.607 65.007-207.238 82.011-58.393 10.493-87.751 9.945-122.668.209-24.779-6.909-46.003-26.584-43.251-54.218.882-8.863 3.893-16.786 8.216-24.853 5.441-10.153 12.558-19.765 20.437-28.613 5.439-6.109 10.915-12.281 17.419-17.535 24.909-20.125 49.997-40.168 76.672-58.485 19.867-13.643 41.277-25.52 62.704-37.224 22.828-12.469 45.873-24.754 69.968-35.245 22.553-9.82 46.468-17.046 69.702-25.569"
      />
    </g>
  </svg>
{/if}
